* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(239, 240, 223);
  padding: 2%;
}

.header {
  display: grid;
  grid-column: span 2;
  border: solid 2px green;
}

.action {
  display: grid;
}

.main {
  display: grid;
}